fastapi
uvicorn
python-dotenv
python-jose
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
Pillow
transformers
torch
ultralytics
sentence-transformers
qdrant-client
mysql-connector-python
openai
email-validator
